*{margin:0; padding:0;}
body{font-family:Arial;font-size:25px;line-height:50px;color:black;}
	
	.main{width:1000px;margin:0 auto;display:block;overflow:hidden;}
	
	.header{}
	.header h4{background-color:#f2f2f2;color: black;}
	
	.mainmenu{background:lightblue;overflow:hidden;}
	.mainmenu ul{margin:0;padding:0;list-style:none;}
	.mainmenu ul li{float:left;border-right:1px }
	.mainmenu ul  a{color:yellow;padding:5px 43px;text-decoration:none;}
	.mainmenu ul a:hover{background:ff9999;}
	
	.slider{}
	.slider img{width:1000px;height:500px}
	
	.maincontent{overflow:hidden;margin-top:40px;}
	.maincontent h2{margin-bottom:15px;}
	
	.content{float:left;width:600px;margin-right:30px;}
	.content table{background:white;}
	.footer{background:lightblue;color:black;margin-top:0px;padding:0px;}
	
	
    .header{}
	.header h1{background-color:ff9999; color:white;}

